@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border-top: 5px solid #FFD166;
}

a, a:visited {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}