@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border-top: 5px solid #FFD166;
  background: #f8f6ef;
}

a, a:visited {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media print {
  body {
    background: #fff;
    border-top: none;
  }

  a, a:visited {
    color: #333;
  }
  
  header {
    padding-top: 0 !important;
  }

  nav { 
    font-size: 0.75rem;
  }
}